.buscador {
    display: flex;
    align-items: center;
}

.buscador_entrada {
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-right: 8px;
    width: 600px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.buscador_entrada:hover {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
