.header_container {
    display: flex;
    background-color: #f5f5dc;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    flex: 1;
}

.header_logo img {
    margin-left: 20px;
    max-height: 70px;
    max-width: 100px;
}

.header_buscador {
    flex: 2;

}

.header_carrito {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
