
.header {
    background-color: #f5f5dc;
    padding: 10px 100px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    max-height: 100px;
}

.header_buscador,
.header_carrito {
    margin-left: 20px;
}
