.notfound{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.notfound_text {
    font-size: 25pt;
    color: #ff0000;
    animation: fadeInUp 0.5s ease-out;
    text-align: center;
}

